---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { Page } from "../../lib/helpers";
import Config from "../../lib/config";

export const getStaticPaths = (async () => {
  const pages = await getCollection("pages");

  return pages.map((page) => ({ params: { slug: page.slug }, props: { ...page } }));
}) satisfies GetStaticPaths;

type Props = Page;

const {
  data: { title },
  render,
} = Astro.props;
const { href } = Astro.url;
const { Content } = await render();
---

<Layout title={`${title} - ${Config.title}`} description={`${title} - ${Config.title}`} url={href}>
  <div class="bg-white">
    <div class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="text-center">
        <h2 class="text-3xl md:text-4xl font-extrabold mb-4">{title}</h2>
      </div>
      <article class="prose prose-indigo prose-lg mx-auto"><Content /></article>
    </div>
  </div>
</Layout>
