---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

type Props = {
  title: string;
  description: string;
  url: string;
  withHero?: boolean;
};

const { title, description, url, withHero } = Astro.props;
const { origin } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta
      property="og:image"
      content={`https://dynamic-og-image-generator.vercel.app/api/generate?title=${encodeURIComponent(title)}&author=John+Tsevdos&websiteUrl=https%3A%2F%2Fphrappe.com&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F175707&theme=nightOwl`}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={url} />
    <meta
      property="twitter:image"
      content={`https://dynamic-og-image-generator.vercel.app/api/generate?title=${encodeURIComponent(title)}&author=John+Tsevdos&websiteUrl=https%3A%2F%2Fphrappe.com&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F175707&theme=nightOwl`}
    />

    <!-- links -->
    <link rel="icon" href={`${origin}/favicon.ico`} />
    <link rel="sitemap" href={`${origin}/sitemap-index.xml`} />
    <link rel="apple-touch-icon" sizes="180x180" href={`${origin}/apple-touch-icon.png`} />
    <link rel="icon" type="image/png" sizes="32x32" href={`${origin}/favicon-32x32.png`} />
    <link rel="icon" type="image/png" sizes="16x16" href={`${origin}/favicon-16x16.png`} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="phrappe.com » Feed"
      href={`${origin}/rss/feed.xml`}
    />

    <ClientRouter />
  </head>
  <body>
    <Header />
    {withHero && <Hero />}
    <main><slot /></main>
    <Footer />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
    </style>
  </body>
</html>
